<form [formGroup]="form" class="loan-form">
  <div>
    <div class="loan-form__section">
      <h2 class="loan-form__section-header">Данные по займу</h2>
      <mat-form-field appearance="outline" class="loan-form__field">
        <mat-label>Сумма займа</mat-label>
        <input matInput placeholder="руб." formControlName="sum" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="loan-form__field">
        <mat-label>Срок займа</mat-label>
        <input matInput placeholder="мес." formControlName="term" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="loan-form__field">
        <mat-label>Процентная ставка</mat-label>
        <input matInput placeholder="руб." formControlName="interestRate" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="loan-form__field">
        <mat-label>Прожиточный минимум</mat-label>
        <input matInput placeholder="руб." formControlName="livingWage" />
      </mat-form-field>
    </div>
  </div>

  <div class="loan-form__actions">
    <button mat-flat-button color="primary" class="loan-form__action">Рассчитать</button>
    <button mat-button color="secondary" class="loan-form__action" (click)="clearClientForm.emit(defaultFormData)">
      отчистить
    </button>
  </div>
</form>
