<form [formGroup]="form" class="client-form">
  <div>
    <div class="client-form__section">
      <h3 class="client-form__section-header">Доходы\Расходы и имущество</h3>
      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Текущая заработная плата</mat-label>
        <input matInput placeholder="руб." formControlName="salary" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Доход супруга</mat-label>
        <input matInput placeholder="руб." formControlName="spouseSalary" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Прочие доходы</mat-label>
        <input matInput placeholder="руб." formControlName="otherRevenues" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Общая стоимость недвижимости</mat-label>
        <input matInput placeholder="руб." formControlName="totalPropertyCost" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Общая стоимость авто</mat-label>
        <input matInput placeholder="руб." formControlName="totalCarCost" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Сумма обязательных платежей (в мес.)</mat-label>
        <input matInput placeholder="руб." formControlName="mandatoryPayments" />
      </mat-form-field>
    </div>

    <div class="client-form__section">
      <h3 class="client-form__section-header">Занятость</h3>
      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Общий трудовой стаж</mat-label>
        <input matInput placeholder="лет" formControlName="totalWorkExperience" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Общее количество должностей</mat-label>
        <input matInput placeholder="шт." formControlName="spouseSalary" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Род деятельности</mat-label>
        <mat-select formControlName="occupation" name="occupation">
          <mat-option *ngFor="let occupation of occupations" [value]="occupation">
            {{ occupation }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Название должности</mat-label>
        <input matInput formControlName="position" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Тип занимаемой должности</mat-label>
        <mat-select formControlName="jobType" name="jobType">
          <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
            {{ jobType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Стаж работы</mat-label>
        <mat-select formControlName="workExperience" name="workExperience">
          <mat-option *ngFor="let workExperience of workExperiences" [value]="workExperience">
            {{ workExperience }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="client-form__section">
      <h3 class="client-form__section-header">Личные данные</h3>
      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>ФИО</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Пол</mat-label>
        <mat-select formControlName="sex" name="sex">
          <mat-option *ngFor="let item of sex" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Дата рождения</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Семейное положение</mat-label>
        <mat-select formControlName="familyStatus" name="familyStatus">
          <mat-option *ngFor="let familyStatus of familyStatuses" [value]="familyStatus">
            {{ familyStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Количество иждивенцев</mat-label>
        <input matInput placeholder="чел." formControlName="childrenCount" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Гражданство</mat-label>
        <input matInput formControlName="citizenship" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Город проживания</mat-label>
        <input matInput placeholder="лет" formControlName="city" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Уровень образования</mat-label>
        <mat-select formControlName="education" name="education">
          <mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel">
            {{ educationLevel }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Срок проживания в регионе</mat-label>
        <input matInput placeholder="лет" formControlName="lengthOfStay" />
      </mat-form-field>
    </div>

    <div class="client-form__section">
      <h3 class="client-form__section-header">Кредитная история</h3>
      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Количество выплаченных кредитов</mat-label>
        <input matInput placeholder="шт." formControlName="loanRepayments" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="client-form__field">
        <mat-label>Количество действующих кредитов</mat-label>
        <input matInput placeholder="шт." formControlName="activeLoans" />
      </mat-form-field>
    </div>

    <div class="client-form__section">
      <h3 class="client-form__section-header">Дополнительная информация</h3>
      <mat-checkbox color="primary" formControlName="earlyPayment"> Рассматривается выплата досрочно </mat-checkbox>
      <mat-checkbox color="primary" formControlName="currentBankLoans"> Займы в текущем банке </mat-checkbox>
      <mat-checkbox color="primary" formControlName="guarantorsAvailability"> Наличие поручителей </mat-checkbox>
      <mat-checkbox color="primary" formControlName="debts"> Имелись задолженности </mat-checkbox>
    </div>
  </div>

  <div class="client-form__actions">
    <button mat-flat-button color="primary" class="client-form__action">Сохранить</button>
    <button mat-button color="secondary" class="client-form__action" (click)="clearClientForm.emit(defaultFormData)">
      отчистить
    </button>
  </div>
</form>
