.result-form {
  &__section {
    margin-bottom: 8px;
  }

  &__section-header {
    margin: 0 0 4px !important;
    font-weight: 500 !important;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 32px;
  }

  &__action:first-child {
    margin-right: 6px;
    width: 100%;
    background-color: #00e676;
  }

  &__progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }

  &__progress {
    &_default {
    }
  }

  &__sections-container {
    margin-top: 16px;
  }

  &__result {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.01em;
    position: absolute;
    margin: 0 0 0 4px !important;
    font-weight: 500;
    color: rgba(3, 155, 229, 1);

    &_default {
      color: #c4c7ca !important;
    }
  }

  &__decision {
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: rgba(3, 155, 229, 1);

    &_default {
      color: #c4c7ca !important;
    }
  }
}

.result-form__progress.mat-spinner circle {
  stroke: rgba(3, 155, 229, 1) !important;
}

.result-form__progress_default.mat-spinner circle {
  stroke: #e5e8ea !important;
}
