.main {
  &__container {
    padding: 24px;
    position: relative;
    top: 64px;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__toolbar {
    background: rgba(242, 245, 247, 1);
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__loader-text {
    color: rgba(127, 138, 159, 1);
    font-size: 12px;
    margin: 4px 0 0 0;
  }

  &__text-loader {
    margin-bottom: 16px;
  }

  &__cards {
    display: flex;
    align-items: flex-start;
  }

  &__card {
    &_client {
      width: 680px;
    }

    &_loan {
      width: 300px;
    }

    &_score {
      transform: translateX(100%);
      transition: transform 0.5s;
      width: 390px;
      position: fixed;
      top: 88px;
      right: -24px;

      &_visible {
        right: 24px;
        transform: translateX(0);
      }
    }
  }

  &__card-header {
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 26px 0;
  }

  &__text {
    color: #039be5;
    margin-left: 10px;
    font-size: 22px;
  }

  &__logo-container {
    width: 34px;
    height: 34px;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__logout-button {
    color: #5f6368;
  }

  &__divider {
    border-right: 1px solid #d6dce0;
    height: 32px;
    margin: 0 8px 0 16px;
  }

  &__select {
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    width: 150px;

    .mat-select-value {
      padding-right: 8px;
      text-align: end;
    }

    .mat-select-value-text {
      font-weight: 400;
      letter-spacing: 0.5px;
    }

    .mat-select-arrow {
      color: #000 !important;
    }

    &_disabled {
      .mat-select-value-text {
        color: #000 !important;
      }
    }
  }
}

.main__card:not(:last-child) {
  margin-right: 24px;
}
